<div>
  <h1 class="font-bold text-4xl">Contact</h1>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d972111.5662560896!2d-65.20936353046872!3d17.870914775800387!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8c051065f2daacb9%3A0xf91d891d1bc51c05!2sAmerikanische%20Jungferninseln!5e0!3m2!1sde!2sat!4v1742231763380!5m2!1sde!2sat" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
