<footer class="bg-[#3F3F3F] fixed bottom-0 w-full h-12 flex items-center z-50">
    <ul class="w-full flex justify-evenly items-center">
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Imprint", imprint_path %></li>
        <li><%= link_to "Contact", contact_path %></li>
    </ul>
</footer>